.coc {
  margin-top: 48px;

  h2 {
    font-weight: bold;
  }

  > .column {
    border-top: 2px solid $black;
    padding-top: 24px;
  }

  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: $black;
    }
  }
}
