.count-down {
  background-color: $black;
  border-top: solid 8px $pink;
  margin-top: 48px;

  .days {
    color: $white;
    font-weight: bold;
    text-align: center;

    strong {
      color: $white;
    }
  }
}
