footer {
  border-top: 1px solid $black;
  margin-top: 36px;
  padding-top: 24px;
  text-align: right;

  .columns {
    .column {
      &:first-child {
        text-align: left;
      }
    }
  }

  a {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }

  img {
    width: 130px;
  }
}
