.footer {
  border-top: 1.2px solid $black;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr,1fr;
}
.footer__logo {
  width:150px;
  padding:25px 20px 20px;
}
.footer__link{
  grid-column: 2/3;
  grid-row: 2/3;
  text-align:right;
  padding:20px;
  text-decoration: none;
  color: $black;
}
