.navbar {
  color: $black;
  padding-top: 24px;

  .navbar-brand {
    height: 60px;

    .navbar-item {
      width: 130px;

      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }
  }

  .navbar-menu {
    height: 60px;

    .navbar-start {
      background-color: $yellow;
      height: 60px;

      .navbar-item {
        border-left: 2px solid $black;
        font-weight: bold;

        &:last-child {
          border-right: 2px solid $black;
        }
        &:hover {
          background-color: $yellow;
          color: $black;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .navbar {
    padding-top: 0;

    .navbar-menu {
      .navbar-start {
        height: initial;
        background-color: $yellow;

        .navbar-item {
          border-left: none;

          &:last-child {
            border-right: none;
          }
        }
      }

      .navbar-end {
        background-color: $white;
      }
    }
  }
}
