.organizers {
  margin-top: 48px;

  h2 {
    font-weight: bold;
  }

  > .column {
    border-top: 2px solid $black;
    padding-top: 24px;
  }

  .organizer {
    .organizer-content {
      border: 1px solid $black;
      margin: 12px 0 12px 0;
      text-align: center;
    }

    .organizer-links {
      border: 1px solid $black;
      padding: 4px 0px 4px 4px;
      font-size: 0.5rem;

      &:hover {
        background-color: $yellow;
      }

      a {
        border-left: 1px solid $black;
        color: $black;
        float: right;
        padding: 4px 6px;
        margin-top: -4px;

        &:hover {
          background-color: $pink;
        }
      }
    }
  }
}
