html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  &:active,
  &:hover {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  &[type="reset"],
  &[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  line-height: normal;
  &[type="checkbox"],
  &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  &[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100% !important;
}

body {
  height: 100% !important;
  color: #556372;
  background: #fff;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

div,
table {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 768px) {
  body,
  div,
  table {
    font-size: 16px;
    line-height: 26px;
  }
}

a {
  color: #fabada;
  text-decoration: none;
  transition: color 0.5s ease;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0 none;
    text-decoration: none;
  }
  img {
    border: 0;
    outline: 0 none;
  }
}

.form-control:focus,
input:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  font-size: 48px;
  color: #ca0f6d;
}

h1 span.invert,
h2 span.invert,
h3 span.invert,
h4 span.invert,
h5 span.invert {
  color: #fabada;
}

h3 {
  font-size: 30px;
  margin: 0px auto 50px;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #fabada;
    width: 100px;
    margin-left: -50px;
    bottom: -18px;
    left: 50%;
  }
  &.black {
    color: #ca0f6d;
    &:after {
      border-color: #fff;
    }
  }
}

h4 {
  font-size: 24px;
  margin: 0 0 35px;
}

h5 {
  font-size: 18px;
}

section {
  overflow: hidden;
  padding: 100px 0;
  h3 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}

.more .fa {
  font-size: 10px;
  vertical-align: middle;
  margin: 0 0 1px 3px;
}

header {
  background: #ca0f6d;
  h1 {
    color: #fff;
  }
}

nav.navbar {
  transition: background .5s ease;
  height: 102px;
  &.dark {
    background: rgba(202, 15, 109, 0.95);
  }
  #navbar {
    position: relative;
  }
  .logo {
    padding: 29px 0 0px;
    display: block;
    position: absolute;
    z-index: 1001;
    font-size: 28px;
    font-weight: bold;
    margin-top: 6px;

    &:hover {
      color: #fff;
    }
  }
  .navbar-toggle {
    background-color: transparent;
    background-image: none;
    height: 45px;
    width: 63px;
    border-radius: 4px;
    margin: 14px 15px;
    padding: 3px 10px 43px;
    position: relative;
    .icon-bar {
      background: #fff;
      height: 4px;
      width: 100%;
      margin: 7px 0;
      transition: all 0.2s;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
}

@media (max-width: 1199px) {
  nav.navbar {
    height: auto;
  }
}

@media (min-width: 1200px) {
  nav.navbar #navbar ul.navbar-nav {
    float: right;
    li:hover>a,
    .active>a {
      border-top: 3px solid #fabada;
      color: #fabada;
    }
    li:hover.active>a,
    .active.active>a {
      cursor: default;
    }
    li {
      color: #fff;
      font-size: 16px;
      transition: none !important;
    }
    a {
      color: #fff;
      font-size: 16px;
      transition: none !important;
      padding: 38px 18px 41px;
      border-top: 3px solid transparent;
      &:hover {
        background: transparent;
        color: #fabada;
      }
      &:focus {
        background: transparent;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1199px) {
  nav.navbar #navbar ul.navbar-nav {
    margin-right: 50px;
  }
}

@media (max-width: 1199px) {
  nav.navbar {
    #navbar {
      margin: 0px 0 0 !important;
      padding: 0px 0 0px 0 !important;
      background: #ca0f6d;
      top: 0px;
      bottom: 0px;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 100002;
      height: 100%;
      width: 100%;
      max-height: 100% !important;
      display: block;
      overflow: scroll;
      min-width: 0;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      transition: all .3s ease;
      &.collapse {
        left: -100%;
      }
      .navbar-toggle {
        .icon-bar,
        &:focus .icon-bar,
        &:active .icon-bar,
        &:hover .icon-bar {
          background: #fff;
        }
      }
    }
    .logo {
      margin-left: 15px;
      margin-top: -2px;
    }
    ul.navbar-nav {
      background: #ca0f6d;
      width: 100%;
      padding: 30px 0px 70px 0;
      margin: 30px 0 0 0;
      a {
        font-size: 20pt;
        font-weight: 900;
        padding: 20px 40px;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
      li.active {
        >a,
        ul li.active a {
          color: #E5E5E5;
        }
      }
      >li {
        border-bottom: 1px solid #021227;
        &.hasSub:after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 18pt;
          vertical-align: middle;
          content: "\f0da";
          margin: 4px 0 0 8px;
          right: 25px;
          top: 15px;
          position: absolute;
          color: #fabada;
        }
        &.show-child ul {
          display: block !important;
        }
      }
      ul {
        padding: 20px 30px;
        list-style: none;
        background: #fabada;
        a {
          padding: 6px 25px;
          font-size: 16pt;
          display: block;
          color: #fff;
        }
      }
    }
  }
}

#slider-full {
  position: relative;
  background-color: #ca0f6d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  .container {
    position: relative;
  }
  h1 {
    color: #ca0f6d;
    text-align: left;
    font-weight: 600;
    font-size: 70px;
    line-height: 1.1em;
    margin: 10px 0 0 0;
    span {
      color: #fff;
    }
  }
  p {
    font-size: 14pt;
    line-height: 1.6em;
    font-weight: 300;
    width: 80%;
    margin-top: 50px;
  }
  .btn {
    margin-top: 75px;
  }
  .calendar {
    margin: 0;
    .day {
      font-family: 'Open Sans', sans-serif;
      display: block;
      background: #fff;
      color: #ca0f6d;
      text-align: center;
      font-weight: 800;
      line-height: 1em;
      font-size: 120px;
      padding: 6px 0 6px 0;
    }
    .month {
      border-top: 1px solid #ca0f6d;
      display: block;
      background: #fabada;
      color: #fff;
      font-weight: 800;
      font-size: 24px;
      text-align: center;
      padding: 8px 0 9px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #slider-full {
    height: 700px;
    h1 {
      font-size: 60px;
      margin: 155px 0 40px 0;
    }
    .calendar .day {
      font-size: 50px;
    }
  }
}

@media (max-width: 991px) {
  #slider-full {
    height: 600px;
    h1 {
      font-size: 50px;
      margin: 20px 0 20px;
    }
    .calendar {
      display: inline-block;
      margin: 40px 0 0 0;
      .day {
        font-size: 50px;
        padding: 10px 20px 15px;
      }
      .month {
        font-size: 18px;
      }
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  #slider-full {
    height: 400px;
    h1 {
      font-size: 30px;
      margin: 30px 0 20px 0;
    }
    p {
      font-size: 14px;
      display: none;
    }
    .calendar {
      display: inline-block;
      margin: 50px 0 0 0;
      .day {
        font-size: 50px;
        padding: 5px 10px 15px;
      }
      .month {
        font-size: 16px;
        padding: 0 10px;
      }
    }
  }
}

.zs-slide {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 13, 30, 0.66);
    z-index: 1;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

#time {
  background: #fabada;
  color: #fff;
  padding: 43px 0 36px;
  .header {
    font-weight: 800;
    font-size: 30px;
  }
  .days {
    display: inline-block;
    font-weight: 800;
    margin: 0 -15px;
    >span {
      font-family: 'Open Sans', sans-serif;
      float: left;
      text-align: center;
      vertical-align: top;
      font-size: 36px;
      line-height: 0.8em;
      &:not(.divider) {
        width: 125px;
        padding-left: 15px;
        padding-right: 15px;
      }
      &.divider {
        padding: 8px 0 0 0;
      }
      span {
        color: #ca0f6d;
        display: block;
        font-size: 18px;
      }
    }
  }
  .btn {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #time .days>span {
    font-size: 30px;
    &:not(.divider) {
      width: 95px;
      padding-left: 15px;
      padding-right: 15px;
    }
    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 991px) {
  #time {
    text-align: center;
    .days {
      margin: 20px 0;
      >span {
        font-size: 30px;
        &:not(.divider) {
          width: 95px;
          padding-left: 15px;
          padding-right: 15px;
        }
        span {
          font-size: 16px;
        }
      }
    }
    .btn {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 479px) {
  #time {
    .header {
      font-size: 28px;
      margin-bottom: 10px;
    }
    .days>span {
      font-size: 24px;
      &:not(.divider) {
        width: 65px;
        padding-left: 8px;
        padding-right: 8px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

#about {
  text-align: center;
  padding-bottom: 80px;
  p {
    width: 80%;
    margin: 0 auto;
  }
  .map-marker {
    margin: 50px 0 0 0;
    display: inline-block;

    &:hover {
      color: #ca0f6d;
    }
  }
  .stat {
    margin: 24px 0 0 0;
    >div {
      margin-bottom: 20px;
      &:not(:last-child) {
        border-right: 1px solid #E5E5E5;
      }
    }
    .number {
      font-family: 'Open Sans', sans-serif;
      font-size: 80px;
      font-weight: 800;
      color: #fabada;
      margin-bottom: 16px;
      line-height: 1em;
      display: block;
    }
    .header {
      text-transform: uppercase;
      font-weight: 800;
      display: block;
      color: #ca0f6d;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      line-height: 1.6em;
    }
  }
}

@media (max-width: 768px) {
  #about p {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #about .stat>div:nth-child(even) {
    border-right: 0px;
  }
}

@media (max-width: 479px) {
  #about .stat>div {
    border-right: 0px !important;
  }
}

#ponentes {
  background-color: #F4F4F4;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: 85px 0 45px;
  text-align: center;
  color: #ca0f6d;
  .row>div {
    margin-bottom: 40px;
  }
  h3 {
    margin-bottom: 60px;
  }
  .name {
    font-weight: 800;
    margin-top: 20px;
    line-height: 1em;
  }
  .descr {
    font-size: 14px;
  }
  .arrow-left,
  .arrow-right {
    background: #fabada;
    color: #fff;
    margin: 0 2px;
    padding: 12px 14px;
    font-size: 13px;
  }
  .arrow-left:hover,
  .arrow-right:hover {
    background: #ca0f6d;
    color: #fff;
  }
}

@media (max-width: 991px) {
  #ponentes {
    padding: 45px 0 5px;
  }
}

#agenda {
  padding: 110px 0 10px;
  h3 {
    margin-bottom: 50px;
  }
  .swiper-pages {
    text-align: center;
    span {
      margin: 0 8px 20px;
      width: auto !important;
      height: auto !important;
      zoom: 1 !important;
      filter: alpha(opacity=100) !important;
      -webkit-opacity: 1 !important;
      -moz-opacity: 1 !important;
      opacity: 1 !important;
      &.swiper-pagination-bullet {
        color: #fff;
        background: #fabada;
        border-color: #fabada;
        &:hover {
          color: #fff;
          background: #ca0f6d;
          border-color: #ca0f6d;
        }
      }
      &.swiper-pagination-bullet-active {
        border: 1px solid #ca0f6d;
        color: #ca0f6d;
        background: #fff;
        cursor: default;
        &:hover {
          cursor: default;
          border: 1px solid #ca0f6d;
          color: #ca0f6d;
          background: #fff;
        }
      }
    }
  }
  .items {
    margin: 80px 0 0 0;
    .date {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 14px;
      color: #fabada;
    }
    .name {
      font-weight: 800;
      color: #ca0f6d;
      line-height: 1em;
    }
    .descr {
      font-size: 14px;
    }
    img {
      margin: 9px 0 0 0;
    }
    .text {
      h4 {
        text-transform: uppercase;
        margin: 0 0 12px;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 1.6em;
      }
      a {
        font-size: 12px;
        .fa {
          vertical-align: middle;
          margin: 0 0 1px 3px;
        }
      }
    }
  }
  .divider {
    background: url("../images/dot2.jpg") no-repeat 50% 0%;
    height: 230px;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0%;
      margin-top: 29px;
      margin-left: -1px;
      height: 201px;
      border-right: 1px solid #E5E5E5;
    }
  }
  .items>div:last-child .divider:after {
    display: none;
  }
}

@media (max-width: 991px) {
  #agenda .items {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  #agenda .items .descr {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  #agenda .items .item:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
    padding: 0 0 20px;
    margin: 0 0 25px;
  }
}

@media (max-width: 768px) {
  #agenda {
    padding: 60px 0 60px;
  }
}

#tickets {
  background: #fabada;
  color: #fff;
  text-align: center;
  form {
    margin: 35px 0 40px 0;
    background: #fff;
    padding: 40px 60px;
    text-align: left;
    position: relative;
    h5 {
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .btn {
      display: block;
      width: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      border-bottom: 5px solid #ca0f6d;
      bottom: 0;
      width: 95%;
      margin: 0 0 -5px -47.5%;
      left: 50%;
    }
  }
}

@media (max-width: 1199px) {
  #tickets .price-tabs .item .info ul {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  #tickets .price-tabs .item .info {
    ul {
      margin-left: 0px;
    }
    li {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  #tickets .price-tabs .item .info {
    display: none;
  }
}

@media (max-width: 768px) {
  #tickets {
    padding-bottom: 10px;
    .price-tabs .item {
      .price {
        font-size: 36px;
      }
      .value {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 479px) {
  #tickets {
    .price-tabs .item {
      margin-bottom: 20px;
      padding: 10px;
    }
    form {
      margin-top: 15px;
    }
  }
}

#sponsors {
  padding: 100px 0 105px;
  border-bottom: 1px solid #D9D9D9;
  #sponsors-slider {
    margin-top: 70px;
    div {
      text-align: center;
    }
  }
  .arrow-right,
  .arrow-left {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: #fabada;
    color: #fff;
    margin: -20px 0 0 0;
    padding: 12px 14px;
    font-size: 13px;
    transition: background .5s ease;
  }
  .arrow-right.arrow-right,
  .arrow-left.arrow-right {
    left: auto;
    right: 0px;
  }
  .arrow-right:hover,
  .arrow-left:hover {
    background: #ca0f6d;
    color: #fff;
  }
}

@media (max-width: 991px) {
  #sponsors {
    padding: 60px 0 55px;
  }
}

#news {
  .photo {
    display: block;
    position: relative;
    .date {
      font-family: 'Open Sans', sans-serif;
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: 800;
      font-size: 24px;
      text-align: center;
      background: #fabada;
      color: #fff;
      padding: 8px 24px 4px;
      line-height: 0.9em;
      span {
        display: block;
        font-size: 14px;
      }
    }
  }
  .item {
    background: #F4F4F4;
    transition: background .5s ease;
    .descr {
      padding: 20px 30px;
      font-size: 14px;
      line-height: 27px;
      border: 1px solid #F4F4F4;
      border-top: 0 none;
    }
    p {
      line-height: 1.6em;
    }
    a>h5 {
      color: #fabada;
      text-transform: uppercase;
      transition: color 0.5s ease;
      &:hover {
        color: #ca0f6d;
      }
    }
    &:hover {
      background: #fff;
      .descr {
        border: 1px solid #E5E5E5;
        border-top: 0 none;
      }
    }
  }
}

@media (max-width: 768px) {
  #news .item {
    margin-bottom: 40px;
  }
}

#suscribete {
  padding: 52px 0 50px;
  background: #fabada;
  color: #fff;
  div {
    font-size: 16px;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 6px;
  }
  input {
    margin: 0;
  }
  .btn {
    height: 57px;
    margin-top: 0;
    padding-left: 55px;
    padding-right: 55px;
    vertical-align: middle;
    &:hover {
      background: #ca0f6d;
      color: #fff;
    }
  }
}

#location{
  margin-top: 5%;

  a:hover {
    color: #ca0f6d;
  }
}

@media (max-width: 991px) {
  #suscribete form {
    margin-top: 30px;
  }
}

footer {
  background: #ca0f6d;
  color: #fff;
  text-align: left;
  padding: 27px 0 27px;
  overflow-y: hidden;
  height: 80px;
  div {
    font-size: 14px;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .go-top {
    position: relative;
    float: right;
    margin: 25px 0 0 0;
    display: block;
    &:before {
      background: #ca0f6d;
      color: #fff;
      display: block;
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      line-height: 40px;
      width: 44px;
      height: 44px;
      position: absolute;
      top: -32px;
      left: 50%;
      margin-left: -17px;
      transition: all .3s ease;
    }
    &:hover:before {
      background: #fff;
      color: #556372;
    }
  }
}

@media (max-width: 991px) {
  footer {
    height: auto;
  }
}

.social {
  list-style: none;
  margin: 0px 0px 0 0;
  padding: 0;
  li {
    display: inline;
    margin-right: 0px;
  }
  a {
    color: #fabada;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 25px;
    font-size: 24px;
    transition: color 0.5s ease;
    &:hover {
      color: #ca0f6d;
    }
  }
}

select.form-control,
textarea.form-control {
  border-color: #E5E5E5;
  background: #FBFBFB;
  font-size: 16px;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  margin: 0 0px 30px 0;
  padding: 6px 20px;
  height: 57px;
  -webkit-box-shadow: 0 0 0 !important;
  -moz-box-shadow: 0 0 0 !important;
  box-shadow: 0 0 0 !important;
}

input {
  &[type="text"].form-control,
  &[type="email"].form-control {
    border-color: #E5E5E5;
    background: #FBFBFB;
    font-size: 16px;
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    margin: 0 0px 30px 0;
    padding: 6px 20px;
    height: 57px;
    -webkit-box-shadow: 0 0 0 !important;
    -moz-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
  }
}

.select {
  position: relative;
  display: block;
  &:after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    top: 20px;
    right: 30px;
    position: absolute;
    display: inline-block;
    color: #ca0f6d;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

.btn {
  transition: background .5s ease;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  padding: 14px 40px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  &.btn-sm {
    padding: 8px 30px;
    font-size: 14px;
    text-transform: none;
  }
  &.btn-dark {
    color: #fff;
    background: #ca0f6d;
    &:hover {
      color: #fff;
      background: #fabada;
    }
  }
  &.btn-blue {
    color: #fff;
    background: #fabada;
    &:hover {
      color: #fff;
      background: #ca0f6d;
    }
  }
  &.btn-blue-border {
    border: 1px solid #ca0f6d;
    color: #ca0f6d;
    background: #fff;
    &:hover {
      color: #fff;
      background: #ca0f6d;
    }
  }
  &.btn-white {
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background: #fff;
      color: #ca0f6d;
    }
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 14px;
    padding: 12px 30px;
  }
}

.blog-post h3 {
  margin-top: 30px;
}

.block-col {
  margin-top: 130px;
}

.blog-post {
  ul {
    list-style: none;
  }
  h4 {
    font-size: 18px;
    margin: 20px 0 10px;
  }
}

.parallax {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media (min-width: 991px) {
  .parallax {
    background-attachment: fixed;
  }
}

.center {
  text-align: center;
}

img {
  &.full-width {
    width: 100%;
    height: auto;
  }
  &.circle {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
  }
  &.rounded {
    -webkit-border-radius: 16px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 16px;
    -moz-background-clip: padding;
    border-radius: 16px;
    background-clip: padding-box;
  }
}

.Open Sans {
  font-family: 'Open Sans', sans-serif;
}

.Open Sans {
  font-family: 'Open Sans', sans-serif;
}

.upper {
  text-transform: uppercase;
  font-size: 9pt;
}

.color-fade {
  transition: color 0.5s ease;
}

.border-fade {
  transition: border 0.5s ease;
}

.background-fade {
  transition: background .5s ease;
}

.all-fade {
  transition: all .3s ease;
}

.fade,
.opacity-fade {
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.opacity-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility .1s linear 0.4s, opacity 0.4s linear, background 0.5s ease;
}

.opacity-hidden-hover {
  visibility: visible;
  opacity: 1;
  transition-delay: .1s;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-overlay:after {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 10px;
  -moz-background-clip: padding;
  border-top-right-radius: 10px;
  background-clip: padding-box;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #021227;
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
