@font-face {
  font-family: 'Documan Medium';
  src: url('../fonts/Documan-Medium.woff2') format('woff2'),
       url('../fonts/Documan-Medium.woff') format('woff'),
       url('../fonts/Documan-Medium.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Documan Bold';
  src: url('../fonts/Documan-Bold.woff2') format('woff2'),
       url('../fonts/Documan-Bold.woff') format('woff'),
       url('../fonts/Documan-Bold.eot') format('eot');
  font-weight: bold;
  font-style: normal;
}
