@font-face {
  font-family: 'Documan';
  src: url('../fonts/Documan-Regular.woff2') format('woff2'),
       url('../fonts/Documan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
