<div class="columns about" id="about">
  <div class="column is-3">
    <div class="info">
      <h2>1 día</h2>

      <p>Un solo día con un solo track donde establecer un punto de encuentro de la comunidad de software y comer fabada.</p>
    </div>
  </div>

  <div class="column is-3">
    <div class="info">
      <h2>5 ponentes</h2>

      <p>Cinco ponentes invitados desde todos los puntos del país nos contarán sus experiencias y conocimientos.</p>
    </div>
  </div>

  <div class="column is-3">
    <div class="info">
      <h2>120 plazas</h2>

      <p>Y solo noventa tickets a la venta, de modo que si te interesa ¡corre y reserva el tuyo! Te estamos esperando.</p>
    </div>
  </div>
</div>
