<section class="about" id="about">
  <div class="container">
    <h3>Sobre La Conferencia</h3>
    <p><b>​FabadaConf</b> es una conferencia sin ánimo de lucro en la que se pretende establecer un <b>punto de encuentro</b> para la comunidad de <b>desarrollo de software</b>, y promover el uso y aprendizaje de <b>nuevas tecnologías</b>.</p>

    <div class="row stat" id="countUp">
      <div class="col-md-4 col-sm-4 col-ms-4">
        <span class="number" id="countUp-1">1</span>
        <span class="header">Día</span>
        <p>1 solo día con 1 sólo track donde establecer un punto de encuentro de la comunidad de software ¡y comer fabada!</p>
      </div>
      <div class="col-md-4 col-sm-4 col-ms-4">
        <span class="number" id="countUp-2">5</span>
        <span class="header">Ponentes</span>
        <p>5 ponentes invitados desde todos los puntos del país nos contarán sus experiencias y conocimientos</p>
      </div>
      <div class="col-md-4 col-sm-4 col-ms-4">
        <span class="number" id="countUp-4">100</span>
        <span class="header">Plazas</span>
        <p>Sólo 100 tickets a la venta, de modo que si te interesa ¡corre y reserva el tuyo! Te estamos esperando</p>
      </div>
    </div>

    <div id="organizers">
      <h5>ORGANIZAN</h5>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-ms-4">
            <img src="images/organizadores/martamedio.jpg" class="full-width" alt="Marta Medio">
            <div class="name">Marta Medio</div>
            <ul class="social">
              <li><a href="https://twitter.com/tpdeoro" class="fa fa-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/martamedio/" class="fa fa-linkedin"></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-ms-4">
            <img src="images/organizadores/ivangonzalez.jpg" class="full-width" alt="Iván González">
            <div class="name">Iván González</div>
            <ul class="social">
              <li><a href="https://twitter.com/dreamingechoes" class="fa fa-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/ivangonzalezsaiz/" class="fa fa-linkedin"></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-ms-4">
            <img src="images/organizadores/marinavega.jpg" class="full-width" alt="Marina Vega">
            <div class="name">Marina Vega</div>
            <ul class="social">
              <li><a href="https://twitter.com/buenapava" class="fa fa-twitter"></a></li>
              <li><a href="https://www.linkedin.com/in/marina-vega/" class="fa fa-linkedin"></a></li>
            </ul>
          </div>
        </div>
    </div>

    <div id="code-of-conduct">
      <h5>CÓDIGO DE CONDUCTA</h5>
      <p>
        Todas las actividades de <b>​FabadaConf</b> están sujetas a nuestro <a href="https://github.com/fabadaconf/base/blob/master/files/CODE_OF_CONDUCT.md" title="Código de Conducta">Código de Conducta</a>, de modo que no te olvides de leerlo.
      </p>
    </div>

    <div id="location">
      <h5>UBICACIÓN</h5>
      <a title="Laboral Ciudad de la Cultura" href="https://www.google.es/maps/place/Laboral+Ciudad+de+la+Cultura/@43.524149,-5.616218,571m/data=!3m2!1e3!4b1!4m5!3m4!1s0xd367b19f0ba38f3:0x628d75f83f270b3a!8m2!3d43.524149!4d-5.614024" target="_blank">Laboral Ciudad de la Cultura -  Gijón, Asturias</a>
    </div>
  </div>
</section>
