<article class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__day"  id="about">
        <h2 class="about__day-title">1 día</h2>
        <p class="about__day-text">Un solo día con un solo track donde establecer un punto de     encuentro de la comunidad de software y comer fabada.</p>
      </div>
      <div class="about__speakers">
        <h2 class="about__speakers-title">5 ponentes</h2>
        <p class="about__speakers-text">Cinco ponentes invitados desde todos los puntos del país nos contarán sus experiencias y conocimientos.</p>
      </div>
      <div class="about__places">
        <h2 class="about__places-title">120 plazas</h2>
        <p class="about__places-text">Y solo noventa tickets a la venta, de modo que si te interesa ¡corre y reserva el tuyo! Te estamos esperando.</p>
      </div>
    </div>
  </div>
</article>
