<div class="columns agenda" id="agenda">
  <ul class="column is-10 is-offset-1 agenda-content">
    <li>
      <a href="#panel1">
        <div class="columns">
          <div class="column is-4">
            <h2><b>8:45 h - 9:15 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Check-in y bienvenida</p>
          </div>
        </div>
      </a>
      <div id="panel1" class="fold">
        <p>
          A las <b>8:45 h</b> abriremos puertas y comenzaremos a daros paso a la sala de la conferencia. A las <b>9:15 h</b> arrancará el evento con una pequeña presentación, comentando cómo va a discurrir el día y compartiendo otros detalles.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>9:30 h - 10:15 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Teresa de la Torre</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>El hombre pisó la luna, pero gracias a la mujer</h3>
        <p>
          En los libros de historia, ciencia, arte o literatura, la mujer siempre ha tenido un papel secundario o a veces hasta inexistente y muchas figuras importantes han quedado ocultas para el conocimiento popular. En la rama tecnológica esto no ha sido diferente, ya que siempre se ha entendido que la tecnología es cosa de hombres pero ¡nada más lejos de la realidad!
        </p>
        <p>
          Teresa nos va a enseñar cómo la tecnología no sería lo que es sin la crucial aportación de diferentes mujeres a lo largo de nuestra evolución.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>10:20 h - 11:05 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Ricard Solé</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>Alternativas consideradas</h3>
        <p>
          Normalmente, a la hora de programar sabemos en qué dirección queremos ir en el momento de escribir nuestro código, en esta charla Ricard ahondará en la importancia que tiene documentar y debatir por qué escoger una dirección u otra, y nos ayudará a reflexionar para saber cómo pueden ayudarnos a mejorar nuestra solución aquellos caminos alternativos que se nos han presentado y que hemos descartado.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel3">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:05 h - 11:50 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Mavi Jiménez</p>
          </div>
        </div>
      </a>
      <div id="panel3" class="fold">
        <h3>Developer Experience</h3>
        <p>
          Los perfiles especializados en construir experiencias de usuario están muy asentados en la comunidad de software, queremos que el usuario quede maravillado y use nuestra aplicación. Si tan claro vemos ese caso de uso... ¿por qué no nos planteamos seriamente lo mismo para las personas que programan?
        </p>
        <p>
          Programar esa misma aplicación debería ser tan placentero como usarla. Nos hablará de cómo diseñar y pensar las metodologías de software desde el punto de vista de la figura del programador, ya que está más tiempo lidiando con la aplicación, ¡incluso durante más tiempo que el usuario final!
        </p>
      </div>
    </li>

    <li>
      <a href="#panel4">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:50 h - 12:20 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Parada café + Networking</p>
          </div>
        </div>
      </a>
      <div id="panel4" class="fold">
        <p>
          Tras las primeras tres charlas, haremos un parón para tomar un café y poder hacer un poco de networking entre les asistentes a la conferencia.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel5">
        <div class="columns">
          <div class="column is-4">
            <h2><b>12:25 h - 13:10 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Naiara Abaroa</p>
          </div>
        </div>
      </a>
      <div id="panel5" class="fold">
        <h3>The Gold Rush [Reloaded]: What is new in CSS</h3>
        <p>
          En esta fiebre de sentir que estamos creando y desarrollando la web con cada trabajo que hacemos, cada vez necesitamos ir un poquito más allá con nuestro código. Por eso Naiara hará un repaso de las nuevas features CSS en las que está trabajando el W3C y que ya se pueden utilizar o se utilizarán en un futuro cercano. ¡No hay evolución ni cambio sin vanguardia!
        </p>
      </div>
    </li>

    <li>
      <a href="#panel6">
        <div class="columns">
          <div class="column is-4">
            <h2><b>13:15 h - 14:00 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Manuel Cernuda</p>
          </div>
        </div>
      </a>
      <div id="panel6" class="fold">
        <h3>Cómo hemos cambiado...</h3>
        <p>
          Todo un viaje en el tiempo donde analizará, al estilo de Carl Sagan, como han ido cambiando las tecnologías y los proyectos a lo largo de los últimos quince años dentro del mundo del desarrollo de software. Una charla apta para nostálgicos, ¡aunque desde la organización no nos hacemos responsables de lo mayores que os podáis sentir al escucharla!
        </p>
      </div>
    </li>

    <li>
      <a href="#panel7">
        <div class="columns">
          <div class="column is-4">
            <h2><b>14:00 h - 14:30 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Cierre de la Organización</p>
          </div>
        </div>
      </a>
      <div id="panel7" class="fold">
        <p>
          A esta hora todes tendremos mucha hambre, de modo que haremos un pequeño cierre de conferencia, y con la mente bien alimentada de conocimientos, iremos a alimentar el estómago con una buena fabada como fin de fiesta.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel8">
        <div class="columns">
          <div class="column is-4">
            <h2><b>14:30 h - 15:30 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Degustación de Fabada + Networking</p>
          </div>
        </div>
      </a>
      <div id="panel8" class="fold">
        <p>Fabes for diversity.</p>
      </div>
    </li>
  </ul>
</div>
