<div class="columns agenda" id="agenda">
  <ul class="column is-10 is-offset-1 agenda-content">
    <li>
      <a href="#panel1">
        <div class="columns">
          <div class="column is-4">
            <h2><b>8:45 h - 9:15 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Check-in y bienvenida</p>
          </div>
        </div>
      </a>
      <div id="panel1" class="fold">
        <p>
          A las <b>8:45 h</b> abriremos puertas y comenzaremos a daros paso a la sala de la conferencia. A las <b>9:15 h</b> arrancará el evento con una pequeña presentación, comentando cómo va a discurrir el día y compartiendo otros detalles.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>9:30 h - 10:15 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Teresa de la Torre</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>El hombre pisó la luna, pero gracias a la mujer</h3>
        <p>
          En los libros de historia, ciencia, arte o literatura, la mujer siempre ha tenido un papel secundario o a veces inexistente y muchas figuras importantes han quedado ocultas para el conocimiento popular. En la rama tecnológica esto no ha sido diferente, ya que siempre se ha entendido que la tecnología es cosa de hombres pero ¡nada más lejos de la realidad!
        </p>
        <p>
          Teresa nos va a enseñar cómo la tecnología no sería lo que es sin la crucial aportación de diferentes mujeres a lo largo de nuestra evolución.
        </p>
        <h3>Teresa de la Torre</h3>
        <p>
          <a class="avatar" title="Teresa de la Torre" href="https://twitter.com/tdelatorreh" target="_blank">
            <img src="/images/speakers/Fabada-Conf-2.jpg" alt="Teresa de la Torre">
          </a>
        </p>
        <p>
          Una de las fundadoras de <a href="https://kaleidos.net/" title="Kaleidos" target="_blank">Kaleidos</a>, donde trabaja como desarrolladora en Python y ahora también como front-end en diferentes frameworks y lenguajes. También es co-fundadora de <a href="https://taiga.io/" title="Taiga.io" target="_blank">Taiga.io</a>.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>10:20 h - 11:05 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Ricard Solé</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>Alternativas consideradas</h3>
        <p>
          Normalmente, a la hora de programar sabemos en qué dirección queremos ir en el momento de escribir nuestro código, en esta charla Ricard ahondará en la importancia que tiene documentar y debatir por qué escoger una dirección u otra, y nos ayudará a reflexionar para saber cómo pueden ayudarnos a mejorar nuestra solución aquellos caminos alternativos que se nos han presentado y que hemos descartado.
        </p>
        <h3>Ricard Solé</h3>
        <p>
          <a class="avatar" title="Ricard Solé" href="https://twitter.com/_rcsole" target="_blank">
            <img src="/images/speakers/Fabada-Conf-1.jpg" alt="Ricard Solé">
          </a>
        </p>
        <p>
          Es originario de Barcelona, donde comenzó su carrera como desarrollador para <a href="https://www.xing.com/" title="XING" target="_blank">XING</a>, aunque viajará a Asturias para ser ponente de la FabadaConf directamente desde Londres, donde lleva trabajando varios años para uno de los grandes: <b>Google</b>.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel3">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:05 h - 11:50 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Mavi Jiménez</p>
          </div>
        </div>
      </a>
      <div id="panel3" class="fold">
        <h3>Developer Experience</h3>
        <p>
          Los perfiles especializados en construir experiencias de usuario están muy asentados en la comunidad de software, queremos que el usuario quede maravillado y use nuestra aplicación. Si tan claro vemos ese caso de uso... ¿por qué no nos planteamos seriamente lo mismo para las personas que programan?
        </p>
        <p>
          Programar esa misma aplicación debería ser tan placentero como usarla. Nos hablará de cómo diseñar y pensar las metodologías de software desde el punto de vista de la figura del programador, ya que está más tiempo lidiando con la aplicación, ¡incluso más que el usuario final!
        </p>
        <h3>Mavi Jiménez</h3>
        <p>
          <a class="avatar" title="Mavi Jiménez" href="https://twitter.com/Linkita" target="_blank">
            <img src="/images/speakers/Fabada-Conf-3.jpg" alt="Mavi Jiménez">
          </a>
        </p>
        <p>
          Además de ingeniera informática, es graduada en Bellas Artes y cuenta con más de diez años de experiencia en nuestro sector. Tras una larga temporada en <a href="https://www.trovit.es/" title="Trovit" target="_blank">Trovit</a>, actualmente forma parte del equipo de ingeniería de <a href="https://www.holaluz.com/" title="HolaLuz" target="_blank">HolaLuz</a> y es una de las impulsoras de <a href="https://www.womenwhocode.com/barcelona" title="Women Who Code Barcelona" target="_blank">Women Who Code Barcelona</a>, una organización sin ánimo de lucro que lucha por acabar con los estereotipos de género en el mundo de la tecnología.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel4">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:50 h - 12:20 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Parada café + Networking</p>
          </div>
        </div>
      </a>
      <div id="panel4" class="fold">
        <p>
          Tras las primeras tres charlas, haremos un parón para tomar un café y poder hacer un poco de networking entre les asistentes a la conferencia.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel5">
        <div class="columns">
          <div class="column is-4">
            <h2><b>12:25 h - 13:10 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Naiara Abaroa</p>
          </div>
        </div>
      </a>
      <div id="panel5" class="fold">
        <h3>The Gold Rush [Reloaded]: What is new in CSS</h3>
        <p>
          En esta fiebre de sentir que estamos creando y desarrollando la web con cada trabajo que hacemos, cada vez necesitamos ir un poquito más allá con nuestro código. Por eso Naiara hará un repaso de las nuevas features CSS en las que está trabajando el W3C y que ya se pueden utilizar o se utilizarán en un futuro cercano. ¡No hay evolución ni cambio sin vanguardia!
        </p>
        <h3>Naiara Abaroa</h3>
        <p>
          <a class="avatar" title="Naiara Abaroa" href="https://twitter.com/nabaroa" target="_blank">
            <img src="/images/speakers/Fabada-Conf-4.jpg" alt="Naiara Abaroa">
          </a>
        </p>
        <p>
          Maquetadora y toda una experta en el desarrollo de interfaces de usuario. Cuenta con casi 20 años de experiencia profesional en nuestro sector y actualmente forma parte de los equipos de Organic Growth y Design System de <a href="https://www.transferwise.com/" title="TransferWise" target="_blank">TransferWise</a>.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel6">
        <div class="columns">
          <div class="column is-4">
            <h2><b>13:15 h - 14:00 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Manuel Cernuda</p>
          </div>
        </div>
      </a>
      <div id="panel6" class="fold">
        <h3>Cómo hemos cambiado...</h3>
        <p>
          Todo un viaje en el tiempo donde analizará, al estilo de Carl Sagan, como han ido cambiando las tecnologías y los proyectos a lo largo de los últimos quince años dentro del mundo del desarrollo de software. Una charla apta para nostálgicos, ¡aunque desde la organización no nos hacemos responsables de lo mayores que os podáis sentir al escucharla!
        </p>
        <h3>Manuel Cernuda</h3>
        <p>
          <a class="avatar" title="Manuel Cernuda" href="https://twitter.com/manuelcernuda" target="_blank">
            <img src="/images/speakers/Fabada-Conf-5.jpg" alt="Manuel Cernuda">
          </a>
        </p>
        <p>
          Cuenta con más de 15 años de experiencia en la industria tecnológica, desarrollando todo tipo de proyectos, y es uno de los principales referentes de nuestra región en el framework .NET de Microsoft. Actualmente es Senior Technical Manager en la oficina de <a href="https://www.sngular.com/" title="Sngular" target="_blank">Sngular</a> de Oviedo, donde realiza desde labores de gestión a la toma de decisiones de arquitectura técnica.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel7">
        <div class="columns">
          <div class="column is-4">
            <h2><b>14:00 h - 14:30 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Cierre de la Organización</p>
          </div>
        </div>
      </a>
      <div id="panel7" class="fold">
        <p>
          A esta hora todes tendremos mucha hambre, de modo que haremos un pequeño cierre de conferencia, y con la mente bien alimentada de conocimientos, iremos a alimentar el estómago con una buena fabada como fin de fiesta.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel8">
        <div class="columns">
          <div class="column is-4">
            <h2><b>14:30 h - 15:30 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Degustación de Fabada + Networking</p>
          </div>
        </div>
      </a>
      <div id="panel8" class="fold">
        <p>Fabes for diversity.</p>
      </div>
    </li>
  </ul>
</div>
