<article class="codc">
  <div class="container">
      <div class="codc__container" id="codc">
          <div class="codc__content">
              <h3 class="codc__content-title">C칩digo de conducta</h3>
              <p class="codc__content-text">Todas las actividades de FabadaConf est치n sujetas a
                nuestro <a class="codc__content-link"
                target="_blank" href="https://github.com/fabadaconf/base/blob/master/files/CODE_OF_CONDUCT.md">
                C칩digo de Conducta, </a> de modo que no te olvides de leerlo.
              </p>
          </div>
          <img class="img_xixon" src="/images/slider/gijon.jpg" alt="Gij칩n">
      </div>
  </div>
</article>
