<article class="conference__info">
  <div class="container">
    <div class="conference__info-container">
      <h3 class="conference__info-title">Sobre la conferencia</h3>
      <p class="conference__info-text">FabadaConf es una conferencia sin ánimo de lucro en la que se pretende establecer un punto de encuentro para la comunidad de desarrollo de software,
      y promover el uso y aprendizaje de nuevas tecnologías.</p>
    </div>
  </div>
</article>