<div class="columns count-down">
  <div class="column is-half is-offset-one-quarter days" id="count-down-days">
  </div>
</div>


<section class="date">
  <div class="pink_line"></div>
    <div class="container">
      <div class="date__content" id="timer">
          <p class="date__day" id="timer-days"></p>
          <p class="date__hours" id="timer-hours"></p>
          <p class="date__mins" id="timer-mins"></p>
          <p class="date__segs" id="timer-segs"></p>
      </div>
    </div>
</section>
