<footer>
  <div class="columns">
    <div class="column is-2">
      <img src="images/logo.png">
    </div>

    <div class="column is-10">
      <a href="/2018">Edición 2018</a>
    </div>
  </div>
</footer>
