<footer class="footer">
  <div class="container">
    <div class="footer__container">
        <img class="footer__logo" src="/images/logo.png" alt="Fabada logo 2019">
        <a href="/2018" class="footer__link">Edición 2018</a>
    </div>
  </div>
</footer>
