<section class="general__links">
  <div class="container">
    <div class="general__links-container" id="links">
      <a class="general__links-newsletter" target=_blank href="https://us19.campaign-archive.com/home/?u=b200b60a95f92088e1eca28c4&id=6fdd83df30">
      Newsletter,
      </a>
      <a class="general__links-github" target=_blank href="https://github.com/fabadaconf">
      Github,
      </a>
      <a class="general__links-linkedin" target=_blank href="https://www.linkedin.com/company/fabadaconf">
      LinkedIn,
      </a>
      <a class="general__links-youtube" target=_blank href="https://www.youtube.com/channel/UCf--4bN4vA0MQqMnpWXPm8w">
      Youtube,
      </a>
      <a class="general__links-email" target=_blank href="mailto:fabadaconf@gmail.com">
      Email.
      </a>
    </div>
  </div>
</section>
