<div class="columns links" id="links">
  <div class="column is-10 is-offset-1 is-size-0 is-size-3-mobile">
    <a target="_blank" href="https://us19.campaign-archive.com/home/?u=b200b60a95f92088e1eca28c4&id=6fdd83df30">Newsletter</a>,
    <a target="_blank" href="https://github.com/fabadaconf">Github</a>,
    <a target="_blank" href="https://twitter.com/fabadaconf">Twitter</a>,
    <a target="_blank" href="https://www.linkedin.com/company/fabadaconf">LinkedIn</a>,
    <a target="_blank" href="https://www.youtube.com/channel/UCf--4bN4vA0MQqMnpWXPm8w">Youtube</a>,
    <a target="_blank" href="mailto:fabadaconf@gmail.com">Email</a>.
  </div>
</div>
