<section id="como-llegar">
  <h3>Cómo Llegar</h3>
  <div class="container">
    <div class="row">
      <p>
        <b>FabadaConf</b> tendrá lugar en el <a title="Laboral Ciudad de la Cultura" href="https://www.google.es/maps/place/Laboral+Ciudad+de+la+Cultura/@43.524149,-5.616218,571m/data=!3m2!1e3!4b1!4m5!3m4!1s0xd367b19f0ba38f3:0x628d75f83f270b3a!8m2!3d43.524149!4d-5.614024" target="_blank">Paraninfo de Laboral Ciudad de la Cultura</a>. Aquí te dejamos un mapa donde puedes ver la localización exacta del edificio. Si vienes desde fuera de Gijón, te recomendamos que consultes <a href="http://www.laboralciudaddelacultura.com/6/informacin/12/cmo-llegar.html" title="¿Cómo llegar a Laboral Ciudad de la Cultura?" target="_blank">esta guía de Laboral Ciudad de la Cultura</a>, en donde explican cómo llegar a la misma haciendo uso de cualquiera de los medios de transporte disponibles en la ciudad.
      </p>
      <p class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.9371380303924!2d-5.617324783293888!3d43.524503579125664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd367b1a2f5e24d1%3A0x36b266229a6db820!2sUniversidad+Laboral!5e0!3m2!1ses!2ses!4v1541501683241" width="800" height="600" frameborder="0" style="border:0; margin:48px auto;" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</section>
