<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__tickets">
        <a class="hero__tickets-link" target="_blank" href="https://ti.to/fabadaconf/2019">ENTRADAS</a>
      </div>
      <h1  class="hero__title">Conferencia de Software en Gijón, Asturias</h1>
      <div class="hero__container-date">
        <p class="hero__date">09.11.2019</p>
      </div>
    </div>
  </div>
</section>
