<div class="columns tickets">
  <div class="column is-2 is-offset-10">
    <a class="tickets-link is-pulled-right" href="https://ti.to/fabadaconf/2019" target="_blank">ENTRADAS</a>
  </div>
</div>

<div class="columns hero">
  <div class="column is-10 is-offset-1">
    <h1 class="title">
      Conferencia de Software en Gijón, Asturias
    </h1>
  </div>
</div>

<div class="columns date">
  <div class="column is-2">
    <span class="date-content">09.11.2019</a>
  </div>
</div>
