<section id="slider-full" class="slider-full" data-zs-bullets="false" data-zs-speed="14000" data-zs-interval="10000" data-zs-switchspeed="400" data-zs-src='["./images/slider/gijon.jpg","./images/slider/lalaboral.jpg","./images/slider/puerto.jpg"]' data-zs-overlay="false">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-2">
          <div class="calendar">
            <span class="day">09</span>
            <span class="month">Nov. 2019</span>
          </div>
        </div>
        <div class="col-md-10">
          <h1> Conferencia de Software <span> en Gijón, Asturias</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
