<nav class="navbar navbar-fixed-top" id="nav-wrapper">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
      </button>
      <a class="logo" href="/"> FabadaConf </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <button type="button" class="navbar-toggle collapsed">
      </button>
    </div>
  </div>
</nav>
