<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbar-list" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#about">About</a>
      <a class="navbar-item" href="#links">Enlaces</a>
      <a class="navbar-item" href="#coc">Código de Conducta</a>
      <a class="navbar-item" href="#sponsors">Sponsors</a>
      <a class="navbar-item" href="#organizers">Organizadores</a>
      <a class="navbar-item" href="#subscribe">Suscríbete</a>
    </div>
  </div>

  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="images/logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-list">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
