<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" id="navbar-toggle" class="navbar-burger burger"
       aria-label="menu" aria-expanded="false"
       data-target="navbar-list">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-list" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-size-7" href="#about">About</a>
      <a class="navbar-item is-size-7" href="#links">Enlaces</a>
      <a class="navbar-item is-size-7" href="#coc">Código de Conducta</a>
      <a class="navbar-item is-size-7" href="#sponsors">Sponsors</a>
      <a class="navbar-item is-size-7" href="#organizers">Organizadores</a>
      <a class="navbar-item is-size-7" href="#subscribe">Suscríbete</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="/">
          <img src="images/logo.png">
        </a>
      </div>
    </div>
  </div>
</nav>
