<section class="organizers">
  <div class="container">
    <div class="organizers__container" id="organizers">
      <h3 class="organizers__title">Organizers</h3>

      <ul class="organizers__list">
        <li class="organizers__list-element marta">
          <div class="organizers__list-element-container">
            <a class="organizers__list-element-image_link" target="_blank"
            href="https://www.linkedin.com/in/martamedio">
            <img class="organizers__list-element-image" src="/images/organizers/Fabada-Conf-Marta.jpg" alt="Marta Medio">
            </a>
          </div>
          <div class="organizers__list-element-organizer_data">
            <p class="organizers__list-element-organizer_data-name">Marta Medio</p>
              <div class="organizers__list-element-organizer_data-rrss">
              <div class="organizers__list-element-organizer_data-rrss-linkedin">
                <a class="linkedin__marta" target="_blank" href="https://www.linkedin.com/in/martamedio">
                  <i class="icon linkedin__marta-icon"></i>
                </a>
              </div>
              <div class="organizers__list-element-organizer_data-rrss-twitter">
                <a class="twitter__marta" target="_blank" href="https://twitter.com/tpdeoro">
                  <i class="icon twitter__marta-icon"></i>
                </a>
              </div>
              </div>
            </div>
        </li>

        <li class="organizers__list-element ivan">
          <div class="organizers__list-element-container">
            <a class="organizers__list-element-image_link" target="_blank"
            href="https://www.linkedin.com/in/ivangonzalezsaiz">
            <img class="organizers__list-element-image" src="/images/organizers/Fabada-Conf-Iván.jpg" alt="Iván González">
            </a>
          </div>
          <div class="organizers__list-element-organizer_data">
            <p class="organizers__list-element-organizer_data-name">Iván González</p>
            <div class="organizers__list-element-organizer_data-rrss">
            <div class="organizers__list-element-organizer_data-rrss-linkedin">
              <a class="linkedin__ivan" target="_blank" href="https://www.linkedin.com/in/ivangonzalezsaiz">
                <i class="icon linkedin__ivan-icon"></i>
              </a>
            </div>
            <div class="organizers__list-element-organizer_data-rrss-twitter">
              <a class="twitter__ivan" target="_blank" href="https://twitter.com/dreamingechoes">
                 <i class="icon twitter__ivan-icon"></i>
              </a>
            </div>
            </div>
          </div>
        </li>

        <li class="organizers__list-element marina">
          <div class="organizers__list-element-container">
            <a class="organizers__list-element-image_link" target="_blank"
            href="https://www.linkedin.com/in/marina-vega">
            <img class="organizers__list-element-image" src="/images/organizers/Fabada-Conf-Marina.jpg" alt="Marina Vega">
            </a>
          </div>
          <div class="organizers__list-element-organizer_data">
            <p class="organizers__list-element-organizer_data-name">Marina Vega</p>
            <div class="organizers__list-element-organizer_data-rrss">
              <div class="organizers__list-element-organizer_data-rrss-linkedin">
                <a class="linkedin__marina" target="_blank" href="https://www.linkedin.com/in/marina-vega">
                  <i class="icon linkedin__marina-icon"></i>
                </a>
              </div>
              <div class="organizers__list-element-organizer_data-rrss-twitter">
                <a class="twitter__marina" target="_blank" href="https://twitter.com/buenapava">
                  <i class="icon twitter__marina-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </li>
          </ul>
      </div>
  </div>
</sec