<section class="sponsors">
  <div class="container">
    <div class="sponsors__container" id="sponsors">
      <div class="sponsors__title-container">
      <h3 class="sponsors__title">Sponsors</h3>
      </div>
        <ul class="sponsors__list">
          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="http://tienda.amr.es/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019AMR.png" alt="AMR Inform치tica" >
              </a>
            </div>
            <h3 class="sponsors__list-element-title">AMR Inform치tica</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.kaleidos.net/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Kaleidos.png" alt="Kaleidos" >
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Kaleidos</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.bizneo.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Bizneo.png" alt="Bizneo HR" >
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Bizneo HR</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.nextail.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Nextail.png" alt="Nextail">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Nextail</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.empachate.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Empachate.png" alt="Empachate.com">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Empachate.com</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.holaluz.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019HolaLuz.png" alt="Holaluz">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Holaluz</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.empathy.co/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Empathy.png" alt="Empathy.co">
            </a>
            </div>
            <h3 class="sponsors__list-element-title">Empathy.co</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.liferay.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Liferay.png" alt="Liferay">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Liferay</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.sngular.com/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Sngular.png" alt="Sngular">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Sngular</h3>
          </li>

          <li class="sponsors__list-element">
            <div class="sponsors__list-element-container">
              <a class="sponsors__list-element-image_link" target="_blank" href="https://www.facebook.com/arionacademiagijon/">
              <img class="sponsors__list-element-image" src="/images/sponsors/2019Arion.png" alt="Academia Ari칩n">
              </a>
            </div>
            <h3 class="sponsors__list-element-title">Academia Ari칩n</h3>
          </li>
        </ul>
    </div>
  </div>
</section>
