<section id="sponsors">
  <div class="container">
    <h3>Nuestros Sponsors</h3>
    <div class="swiper-container items row" id="sponsors-slider">
      <div class="swiper-wrapper">
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="AMR Inform치tica" href="http://tienda.amr.es/" target="_blank"><img src="images/sponsors/amr.jpg" alt="AMR Inform치tica"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Cabify" href="https://cabify.com/es" target="_blank"><img src="images/sponsors/cabify.jpg" alt="Cabify"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Bizneo" href="https://www.bizneo.com/" target="_blank"><img src="images/sponsors/bizneo.jpg" alt="Bizneo"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Nextail" href="http://nextail.co/" target="_blank"><img src="images/sponsors/nextail.jpg" alt="Nextail"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Emp치chate.com" href="https://www.empachate.com/" target="_blank"><img src="images/sponsors/empachate.jpg" alt="Emp치chate.com"></a>
        </div>
      </div>
      <a href="#" class="arrow-left fa fa-chevron-left"></a>
      <a href="#" class="arrow-right fa fa-chevron-right"></a>
    </div>
  </div>
</section>
