<section class="subscribe">
  <div class="container">
    <div class="subscribe__content" id="subscribe">
      <h3 class="subscribe__content-title">Suscríbete a nuestra newsletter</h3>
        <form class="subscribe__content-form" action="https://fabadaconf.us19.list-manage.com/subscribe/post?u=b200b60a95f92088e1eca28c4&id=6fdd83df30"
        method="post">
          <label class="subscribe__content-label" for="add_mail">
              <input class="subscribe__content-input" id="add_mail" type="email" placeholder="Introduce tu dirección de email"
              name="add_mail" required="true" />
              <input class="subscribe__content-input_submit" type="submit" value="SUSCRÍBETE"/>
          </label>
        </form>
    </div>
  </div>
</section>
