<section class="join" id="tickets">
  <div class="container">
    <h3 class="black">Tickets</h3>
    <div class="row price">
      <p>
        Queremos que la asignación de entradas sea justa y no dependa de horarios de trabajo, de ocio o de vuestros
        compromisos familiares. Por ello hemos activado una única opción de uniros a una lista de espera.
      </p>
      <p>
        Al inscribiros en esta lista entraréis en el sorteo que dará acceso a la compra de entradas. Es decir, si
        en el sorteo habéis sido seleccionados, os llegará un correo electrónico con un enlace que os dará acceso
        a adquirir, como máximo, dos entradas para el evento.
      </p>
      <p>
        Tened en cuenta que, en el caso de que vayáis a adquirir dos entradas, durante el proceso de compra se os pedirán
        los datos de la persona que os acompañará. ¡Haz click en el botón para empezar!
      </p>
      <br>
      <p>
        <a target="_blank" href="https://ti.to/fabadaconf/2018" class="btn btn-white">
          ¡Consigue tu ticket!
        </a>
      </p>
    </div>
  </div>
</section>
