<section class="join" id="tickets">
  <div class="container">
    <h3 class="black">Tickets</h3>
    <div class="row price">
      <p>
      Proximamente más información. ¡Apúntate a nuestra newsletter para no perderte todas las novedades!
      </p>
    </div>
  </div>
</section>
