

@import 'vars/colors';
@import 'vars/fonts';

@import 'components/about';
@import 'components/coc';
@import 'components/conference_info';
@import 'components/countdown';
@import 'components/footer';
@import 'components/hero';
@import 'components/links';
@import 'components/navbar';
@import 'components/organizers';
@import 'components/slider';
@import 'components/sponsors';
@import 'components/subscribe';




.container{
margin: 0 17px;
max-width:924px;
}

@media all and (min-width:768px){
  .container{
    margin:0 46px;
  }
}

@media all and (min-width:1016px){
  .container{
    margin:0 auto;
  }
}
