<div class="columns agenda" id="agenda">
  <ul class="column is-10 is-offset-1 agenda-content">
    <li>
      <a href="#panel1">
        <div class="columns">
          <div class="column is-4">
            <h2><b>8:30 h - 9:00 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Check-in y bienvenida</p>
          </div>
        </div>
      </a>
      <div id="panel1" class="fold">
        <p>
          A las <b>8:30 h</b> abriremos puertas y comenzaremos a daros paso a la sala de la conferencia. A las <b>9:00 h</b> arrancará el evento con una pequeña presentación, comentando cómo va a discurrir el día y compartiendo otros detalles.
        </p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>9:10 h - 10:00 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Diana Aceves</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>Grid y Flex: The new BFF</h3>
        <p>Diana hará una demo en vivo del uso de Flexbox y Grid Layout juntos, para demostrar lo bien que se complementan y que, efectivamente, son los nuevos mejores amigos en el mundillo CSS.</p>
      </div>
    </li>

    <li>
      <a href="#panel2">
        <div class="columns">
          <div class="column is-4">
            <h2><b>10:00 h - 10:50 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Patricia Gao</p>
          </div>
        </div>
      </a>
      <div id="panel2" class="fold">
        <h3>Team Power-Ups: Where to find them</h3>
        <p>Patricia viene a demostrarnos cómo todos los equipos tienen margen de mejora. El propósito de esta charla es compartir prácticas y consejos para poder hacer a tu equipo un grupo más feliz y productivo.</p>
      </div>
    </li>

    <li>
      <a href="#panel3">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:50 h - 11:40 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Óscar de Arriba</p>
          </div>
        </div>
      </a>
      <div id="panel3" class="fold">
        <h3>Docker y Kubernetes: en busca de la alta disponibilidad</h3>
        <p>Docker y Kubernetes son parte de muchas infraestructuras de hoy en día, pero ¿qué nos aportan? Exploraremos ambas tecnologías y cómo se adaptan cuando necesitamos escalabilidad y alta disponibilidad.</p>
      </div>
    </li>

    <li>
      <a href="#panel4">
        <div class="columns">
          <div class="column is-4">
            <h2><b>11:40 h - 12:00 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Parada café + Networking</p>
          </div>
        </div>
      </a>
      <div id="panel4" class="fold">
          <p>Tras las primeras tres charlas, haremos un parón para tomar un café y poder hacer un poco de networking entre los asistentes a la conferencia.</p>
      </div>
    </li>

    <li>
      <a href="#panel5">
        <div class="columns">
          <div class="column is-4">
            <h2><b>12:00 h - 12:50 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Rodrigo Álvarez</p>
          </div>
        </div>
      </a>
      <div id="panel5" class="fold">
        <h3>TDD: Toxicity driven development</h3>
        <p>¿Estamos en un gremio tóxico? ¿Hay demasiada venta de humo en el sector? ¿Por qué se le da tanta importancia al perfil de GitHub en los procesos de selección? ¿Ni michismi ni fiminismi? Rodrigo nos hará reflexionar sobre estos temas y muchos más.</p>
      </div>
    </li>

    <li>
      <a href="#panel6">
        <div class="columns">
          <div class="column is-4">
            <h2><b>12:50 h - 13:40 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Belén Albeza</p>
          </div>
        </div>
      </a>
      <div id="panel6" class="fold">
        <h3>Mejorando como desarrolladores</h3>
        <p>En esta charla veremos algunos consejos para aprender cómo podemos formarnos y mejorar como desarrolladores sin abandonar a nuestres amigues, aficiones... y nos ayudará a cuestionarnos creencias y mitos comunes en la industria del desarrollo software.</p>
      </div>
    </li>

    <li>
      <a href="#panel7">
        <div class="columns">
          <div class="column is-4">
            <h2><b>13:40 h - 14:30 h</b></h2>
          </div>
          <div class="column is-8">
            <p>Cierre de la Organización + Fabada</p>
          </div>
        </div>
      </a>
      <div id="panel7" class="fold">
        <p>A esta hora todes tendremos mucha hambre, de modo que haremos un pequeño cierre de conferencia, y con la mente bien alimentada de conocimientos, iremos a alimentar el estómago con una buena fabada como fin de fiesta.</p>
      </div>
    </li>
    
  </ul>
</div>