<section class="agenda parallax" id="agenda">
  <div class="container">
    <h3>Agenda</h3>
    <div id="agenda-slider">
      <div class="items">
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/logo.png" class="full-width" alt="Org. FabadaConf">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">8:30 AM - 09:10 AM</div>
                <div class="name">Org. FabadaConf</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Check-in y bienvenida</h4>
            <p>A las 8:30 AM abriremos puertas y comenzaremos a daros paso a la sala de la conferencia. A las 9:00 AM arrancará el evento con una pequeña presentación, comentando cómo va a discurrir el día y compartiendo otros detalles.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/ponentes/diana.jpeg" class="full-width" alt="Diana Aceves">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">9:10 AM - 10:00 AM</div>
                <div class="name">Diana Aceves</div>
                <div class="descr">FrontEnd Developer</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Grid y Flex: The new BFF</h4>
            <p>Diana hará una demo en vivo del uso de Flexbox y Grid Layout juntos, para demostrar lo bien que se complementan y que, efectivamente, son los nuevos mejores amigos en el mundillo CSS.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/ponentes/patricia.jpg" class="full-width" alt="Patricia Gao">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">10:00 AM - 10:50 AM</div>
                <div class="name">Patricia Gao</div>
                <div class="descr">Technical Product Manager</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Team Power-Ups: Where to find them</h4>
            <p>Patricia viene a demostrarnos cómo todos los equipos tienen margen de mejora. El propósito de esta charla es compartir prácticas y consejos para poder hacer a tu equipo un grupo más feliz y productivo.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/ponentes/oscar.jpg" class="full-width" alt="Óscar de Arriba">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">10:50 AM - 11:40 AM</div>
                <div class="name">Óscar de Arriba</div>
                <div class="descr">DevOps & Software Developer</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Docker y Kubernetes: en busca de la alta disponibilidad</h4>
            <p>Docker y Kubernetes son parte de muchas infraestructuras de hoy en día, pero ¿qué nos aportan? Exploraremos ambas tecnologías y cómo se adaptan cuando necesitamos escalabilidad y alta disponibilidad.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/logo.png" class="full-width" alt="Org. FabadaConf">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">11:40 AM - 12:00 AM</div>
                <div class="name">Org. FabadaConf</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>¡Parón para un café!</h4>
            <p>Tras las primeras tres charlas, haremos un parón para tomar un café y poder hacer un poco de networking entre los asistentes a la conferencia.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/ponentes/rodrigo.jpg" class="full-width" alt="Rodrigo Álvarez">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">12:00 AM - 12:50 PM</div>
                <div class="name">Rodrigo Álvarez</div>
                <div class="descr">Software Developer</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>TDD: Toxicity driven development</h4>
            <p>¿Estamos en un gremio tóxico? ¿Hay demasiada venta de humo en el sector? ¿Por qué se le da tanta importancia al perfil de GitHub en los procesos de selección? ¿Ni michismi ni fiminismi? Rodrigo nos hará reflexionar sobre estos temas y muchos más.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/ponentes/belen.png" class="full-width" alt="Belén Albeza">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">12:50 PM - 13:40 PM</div>
                <div class="name">Belén Albeza</div>
                <div class="descr">Software Developer</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Mejorando como desarrolladores</h4>
            <p>En esta charla veremos algunos consejos para aprender cómo podemos formarnos y mejorar como desarrolladores sin abandonar a nuestres amigues, aficiones... y nos ayudará a cuestionarnos creencias y mitos comunes en la industria del desarrollo software.</p>
          </div>
        </div>
        <div class="row item">
          <div class="col-md-4 col-sm-4">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                <img src="images/logo.png" class="full-width" alt="Org. FabadaConf">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                <div class="date">13:40 PM - 14:00 PM</div>
                <div class="name">Org. FabadaConf</div>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
          <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
            <h4>Cierre y... ¡Fabada!</h4>
            <p>A esta hora todes tendremos mucha hambre, de modo que haremos un pequeño cierre de conferencia, y con la mente bien alimentada de conocimientos, iremos a alimentar el estómago con una buena fabada como fin de fiesta.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
