<div class="columns coc" id="coc">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-6">
        <h2>Código de conducta</h2>
      </div>

      <div class="column is-6">
        <p>
          Todas las actividades de FabadaConf están sujetas a nuestro <a href="https://github.com/fabadaconf/base/blob/master/files/CODE_OF_CONDUCT.md" target="_blank">Código de Conducta</a>, de modo que no te olvides de leerlo.
        </p>
      </div>
    </div>
  </div>
</div>
