<div class="columns hero">
  <div class="column is-10 is-offset-1">
    <h1 class="title is-size-0 is-size-3-mobile">
      Conferencia de Software en Gijón, Asturias
    </h1>
  </div>
</div>

<div class="columns date">
  <div class="column is-2">
    <span class="date-content is-size-6">10.11.2018</a>
  </div>
</div>
