<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-list">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-list" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Speakers</a>
      <a class="navbar-item">Programme</a>
      <a class="navbar-item">Buy Tickets</a>
      <a class="navbar-item">Venue</a>
      <a class="navbar-item">About</a>
      <a class="navbar-item">Sponsors</a>
      <a class="navbar-item">Media</a>
    </div>
  </div>
</nav>
