<div class="columns sponsors" id="sponsors">
  <div class="column is-10 is-offset-1">
    <div class="columns">

      <div class="column is-4">
        <h2>Sponsors</h2>
      </div>

      <div class="column is-8">

        <div class="columns">
          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="AMR Informática" href="http://tienda.amr.es/" target="_blank">
                <img src="/images/2018/sponsors/amr.jpg" alt="AMR Informática">
              </a>
            </div>
            <p>AMR Informática</p>
          </div>

          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Cabify" href="https://www.cabify.com/" target="_blank">
                <img src="/images/2018/sponsors/cabify.jpg" alt="Cabify">
              </a>
            </div>
            <p>Cabify</p>
          </div>

          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Bizneo HR" href="https://www.bizneo.com/" target="_blank">
                <img src="/images/2018/sponsors/bizneo.jpg" alt="Bizneo HR">
              </a>
            </div>
            <p>Bizneo HR</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Nextail" href="https://www.nextail.com/" target="_blank">
                <img src="/images/2018/sponsors/nextail.jpg" alt="Nextail">
              </a>
            </div>
            <p>Nextail</p>
          </div>

          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Empachate.com" href="https://www.empachate.com/" target="_blank">
                <img src="/images/2018/sponsors/empachate.jpg" alt="Empachate.com">
              </a>
            </div>
            <p>Empachate.com</p>
          </div>

          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Onirix" href="https://www.onirix.com/" target="_blank">
                <img src="/images/2018/sponsors/onirix.png" alt="Onirix">
              </a>
            </div>
            <p>Onirix</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-4 sponsor">
            <div class="sponsor-content">
              <a title="Academia Arión" href="https://www.facebook.com/arionacademiagijon/" target="_blank">
                <img src="/images/2018/sponsors/arion.png" alt="Academia Arión">
              </a>
            </div>
            <p>Academia Arión</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
