<section id="sponsors">
  <div class="container">
    <h3>Sponsors</h3>
    <div class="swiper-container items row" id="sponsors-slider">
      <div class="swiper-wrapper">
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="AMR Informática" href="http://tienda.amr.es/" target="_blank"><img src="images/2018/sponsors/amr.jpg" alt="AMR Informática"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Cabify" href="https://cabify.com/es" target="_blank"><img src="images/2018/sponsors/cabify.jpg" alt="Cabify"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Bizneo" href="https://www.bizneo.com/" target="_blank"><img src="images/2018/sponsors/bizneo.jpg" alt="Bizneo"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Nextail" href="http://nextail.co/" target="_blank"><img src="images/2018/sponsors/nextail.jpg" alt="Nextail"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Empáchate.com" href="https://www.empachate.com/" target="_blank"><img src="images/2018/sponsors/empachate.jpg" alt="Empáchate.com"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Academia Arión" href="https://www.facebook.com/arionacademiagijon/" target="_blank"><img src="images/2018/sponsors/arion.png" alt="Academia Arión"></a>
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <a title="Onirix" href="https://www.onirix.com/" target="_blank"><img src="images/2018/sponsors/onirix.png" alt="Onirix"></a>
        </div>
      </div>
      <a href="#" class="arrow-left fa fa-chevron-left"></a>
      <a href="#" class="arrow-right fa fa-chevron-right"></a>
    </div>
  </div>
</section>
