<div class="columns subscribe" id="subscribe">
  <div class="column is-10 is-offset-1">

    <div class="columns">
      <div class="column is-6 is-size-6 is-size-7-mobile">
        Suscríbete a nuestra newsletter
      </div>

      <div class="column is-6">
        <form action="https://fabadaconf.us19.list-manage.com/subscribe/post?u=b200b60a95f92088e1eca28c4&amp;id=6fdd83df30" method="post" class="form">
          <input class="input" type="email" placeholder="Introduce tu dirección de email" required="true">
          <input type="submit" value="SUSCRÍBETE">
        </form>
      </div>
    </div>

  </div>
</div>
