
<section id="suscribete">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>¿Quieres enterarte de todo?</h4>
        ¡Suscríbete a nuestra newsletter para estar al día!
      </div>
      <div class="col-md-6 col-sm-12">
        <form action="https://fabadaconf.us19.list-manage.com/subscribe/post?u=b200b60a95f92088e1eca28c4&amp;id=6fdd83df30" method="post">
          <div class="input-group">
            <input type="email" name="EMAIL" class="form-control" placeholder="Introduce tu dirección de correo..." required="true">
            <span class="input-group-btn">
            <input type="submit" class="btn btn-dark" value="Suscríbete">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
