<div class="columns collaborators" id="collaborators">
  <div class="column is-10 is-offset-1">
    <div class="columns">

      <div class="column is-4">
        <h2>Diseño, ilustración y maquetación</h2>
      </div>

      <div class="column is-8">
        <div class="columns">
          <div class="column is-4 collaborator">
            <div class="collaborator-content">
              <a title="Rafa Garcés" href="https://twitter.com/rafagarces" target="_blank">
                <img src="/images/2019/collaborators/Fabada-Conf-Rafa.jpg" alt="Rafa Garcés">
              </a>
            </div>
            <div class="collaborator-links">
              <span>Rafa Garcés</span>

              <a href="https://twitter.com/rafagarces" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/rafagarces/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="column is-4 collaborator">
            <div class="collaborator-content">
              <a title="Marian Vencesla" href="https://twitter.com/MarianVencesla" target="_blank">
                <img src="/images/2019/collaborators/Fabada-Conf-Marian.jpeg" alt="Marian Vencesla">
              </a>
            </div>
            <div class="collaborator-links">
              <span>Marian Vencesla</span>

              <a href="https://twitter.com/MarianVencesla" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/mvencesla/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="column is-4 collaborator">
            <div class="collaborator-content">
              <a title="Bea Pascual" href="https://www.linkedin.com/in/beatrizpascualsanchez/" target="_blank">
                <img src="/images/2019/collaborators/Fabada-Conf-Bea.jpg" alt="Bea Pascual">
              </a>
            </div>
            <div class="collaborator-links">
              <span>Bea Pascual</span>

              <a href="https://twitter.com/BeatrizPascualS" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/beatrizpascualsanchez/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
