<div class="columns conference-info" id="conference-info">
  <div class="column is-10 is-offset-1">
    <div class="columns">
      <div class="column is-6">
        <h2>Sobre la conferencia</h2>
      </div>

      <div class="column is-6">
        <p>
          FabadaConf es una conferencia sin ánimo de lucro en la que se pretende establecer un punto de encuentro para la comunidad de desarrollo de software, y promover el uso y aprendizaje de nuevas tecnologías.
        </p>
      </div>
    </div>
  </div>
</div>
