<footer>
  <div class="columns">
    <div class="column is-10">
      <img src="/images/logo.png">
    </div>

    <div class="column is-2">
      <a href="/2018">2018</a> · <a href="/">2020</a>
    </div>
  </div>
</footer>
