<div class="columns organizers" id="organizers">
  <div class="column is-10 is-offset-1">
    <div class="columns">

      <div class="column is-4">
        <h2>Organizadores</h2>
      </div>

      <div class="column is-8">
        <div class="columns">
          <div class="column is-4 organizer">
            <div class="organizer-content">
              <a title="Marta Medio" href="https://www.linkedin.com/in/martamedio" target="_blank">
                <img src="/images/organizers/Fabada-Conf-Marta.jpg" alt="Marta Medio">
              </a>
            </div>
            <div class="organizer-links">
              <span>Marta Medio</span>

              <a href="https://twitter.com/tpdeoro" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/martamedio" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="column is-4 organizer">
            <div class="organizer-content">
              <a title="Iván González" href="https://www.linkedin.com/in/ivangonzalezsaiz" target="_blank">
                <img src="/images/organizers/Fabada-Conf-Iván.jpg" alt="Iván González">
              </a>
            </div>
            <div class="organizer-links">
              <span>Iván González</span>

              <a href="https://twitter.com/dreamingechoes" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/ivangonzalezsaiz" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="column is-4 organizer">
            <div class="organizer-content">
              <a title="Marina Vega" href="https://www.linkedin.com/in/marina-vega" target="_blank">
                <img src="/images/organizers/Fabada-Conf-Marina.jpg" alt="Marina Vega">
              </a>
            </div>
            <div class="organizer-links">
              <span>Marina Vega</span>

              <a href="https://twitter.com/buenapava" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/marina-vega" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
