---
title: FabadaConf 2018
---

<section id="slider-full" class="slider-full" data-zs-bullets="false" data-zs-speed="14000" data-zs-interval="10000" data-zs-switchspeed="400" data-zs-src='["./images/slider/gijon.jpg","./images/slider/lalaboral.jpg","./images/slider/puerto.jpg"]' data-zs-overlay="false">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-2">
          <div class="calendar">
            <span class="day">10</span>
            <span class="month">Nov. 2018</span>
          </div>
        </div>
        <div class="col-md-10">
          <h1> Conferencia de Software <span> en Gijón, Asturias</span></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit sem, tincidunt eget magna eget, finibus egestas orci. Sed tempus leo justo, nec aliquam eros lacinia at.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="time" id="time">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="header">Tiempo Restante</div>
        ¡Únete a la conferencia!
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="days clearfix" id="daysCountDown" data-date="2018/11/10">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="#tickets" class="btn btn-white">¡Compra tu ticket!</a>
      </div>
    </div>
  </div>
</div>

<section class="about" id="about">
  <div class="container">
    <h3>Sobre La Conferencia</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit sem, tincidunt eget magna eget, finibus egestas orci. Sed tempus leo justo, nec aliquam eros lacinia at.</p>
    <a href="#" class="map-marker">Laboral Ciudad de la Cultura, Calle Luis Moya Blanco, 261, 33203 Gijón, Asturias</a>
    <div class="row stat" id="countUp">
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-1">1</span>
        <span class="header">Día</span>
        <p>Morbi efficitur vitae orci eu volutpat. Donec nulla justo, dapibus sed sodales ut, auctor a ante. </p>
      </div>
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-2">5</span>
        <span class="header">Ponentes</span>
        <p>Vitae orci eu volutpat. Donec nulla justo, dapibus sed sodales ut, auctor a ante. Integer nec libero vitae nisi.</p>
      </div>
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-4">100</span>
        <span class="header">Plazas</span>
        <p>Morbi efficitur vitae orci. Dapibus sed sodales ut, auctor a ante. Integer nec libero vitae nisi consectetur rhoncus. </p>
      </div>
    </div>
  </div>
</section>

<section class="speakers parallax" id="ponentes">
  <h3>Nuestros Ponentes</h3>
  <div class="container">
    <div class="swiper-container row" id="ponentes-slider">
      <div class="swiper-wrapper">
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/diana.jpeg" class="full-width" alt="Diana Aceves">
          <div class="name">Diana Aceves</div>
          <div class="descr">FrontEnd Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/diana_aceves_" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/oscar.jpg" class="full-width" alt="Óscar de Arriba">
          <div class="name">Óscar de Arriba</div>
          <div class="descr">DevOps & Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/odarriba" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/belen.png" class="full-width" alt="Belén Albeza">
          <div class="name">Belén Albeza</div>
          <div class="descr">Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/ladybenko" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/rodrigo.jpg" class="full-width" alt="Rodrigo Álvarez">
          <div class="name">Rodrigo Álvarez</div>
          <div class="descr">Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/Papipo" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/patricia.jpg" class="full-width" alt="Patricia Gao">
          <div class="name">Patricia Gao</div>
          <div class="descr">Technical Product Manager</div>
          <ul class="social">
            <li><a href="https://twitter.com/patriciagao" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
      <div class="arrows">
        <a href="#" class="arrow-left fa fa-chevron-left"></a>
        <a href="#" class="arrow-right fa fa-chevron-right"></a>
      </div>
    </div>
  </div>
</section>

<section class="plan parallax" id="agenda">
  <div class="container">
    <h3>Agenda</h3>
    <div class="swiper-container" id="agenda-slider">
      <div class="swiper-wrapper">
        <div class="items swiper-slide">
          <div class="row item">
            <div class="col-md-4 col-sm-4">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                  <img src="images/ponentes/diana.jpeg" class="full-width" alt="Diana Aceves">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                  <div class="date">9:00 AM - 9:30 AM</div>
                  <div class="name">Diana Aceves</div>
                  <div class="descr">FrontEnd Developer</div>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
            <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
              <h4>Charla 1</h4>
              <p>Lorem Ipsum.</p>
            </div>
          </div>

          <div class="row item">
            <div class="col-md-4 col-sm-4">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3 photo">
                  <img src="images/ponentes/diana.jpeg" class="full-width" alt="Diana Aceves">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
                  <div class="date">9:00 AM - 9:30 AM</div>
                  <div class="name">Diana Aceves</div>
                  <div class="descr">FrontEnd Developer</div>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1 divider hidden-ms hidden-xs"></div>
            <div class="col-md-7 col-sm-7 col-xs-9 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-ms-offset-3  col-xs-offset-3 text">
              <h4>Charla 2</h4>
              <p>Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="join" id="tickets">
  <div class="container">
    <h3 class="black">Tickets</h3>
    <div class="row price">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit sem, tincidunt eget magna eget, finibus egestas orci. Sed tempus leo justo, nec aliquam eros lacinia at.
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="container">
    <h3>Nuestros Sponsors</h3>
    <div class="swiper-container items row" id="sponsors-slider">
      <div class="swiper-wrapper">
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/bizneo.svg" alt="Bizneo">
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/amr.jpg" alt="AMR">
        </div>
      </div>
      <a href="#" class="arrow-left fa fa-chevron-left"></a>
      <a href="#" class="arrow-right fa fa-chevron-right"></a>
    </div>
  </div>
</section>

<section id="suscribete">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>¿Quieres enterarte de todo?</h4>
        Sed fringilla dignissim velit, vitae posuere nulla mollis in.
      </div>
      <div class="col-md-6 col-sm-12">
        <form>
          <div class="input-group">
            <input type="email" name="email" class="form-control" placeholder="Introduce tu dirección de correo...">
            <span class="input-group-btn">
            <input type="submit" class="btn btn-dark" value="Suscríbete">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
