---
title: FabadaConf 2018
---

<section id="slider-full" class="slider-full" data-zs-bullets="false" data-zs-speed="14000" data-zs-interval="10000" data-zs-switchspeed="400" data-zs-src='["./images/slider/gijon.jpg","./images/slider/lalaboral.jpg","./images/slider/puerto.jpg"]' data-zs-overlay="false">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-2">
          <div class="calendar">
            <span class="day">10</span>
            <span class="month">Nov. 2018</span>
          </div>
        </div>
        <div class="col-md-10">
          <h1> Conferencia de Software <span> en Gijón, Asturias</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="time" id="time">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="header">Tiempo Restante</div>
        ¡Rápido, únete a la conferencia!
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="days clearfix" id="daysCountDown" data-date="2018/11/10">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <a href="#tickets" class="btn btn-white">¡Compra tu ticket!</a>
      </div>
    </div>
  </div>
</div>

<section class="about" id="about">
  <div class="container">
    <h3>Sobre La Conferencia</h3>
    <p>La ​FabadaConf es una conferencia sin ánimo de lucro en la que se pretende establecer un punto de encuentro para la comunidad de desarrollo de software, y promover el uso y aprendizaje sobre nuevas tecnologías.</p>

    <div class="row stat" id="countUp">
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-1">1</span>
        <span class="header">Día</span>
        <p>1 solo día con un 1 sólo track donde establecer un punto de encuentro de la comunidad de software ¡y comer fabada!</p>
      </div>
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-2">5</span>
        <span class="header">Ponentes</span>
        <p>5 ponentes invitados desde todos los puntos del país nos contarán sus experiencias y conocimientos</p>
      </div>
      <div class="col-md-4 col-sm-6 col-ms-6">
        <span class="number" id="countUp-4">100</span>
        <span class="header">Plazas</span>
        <p>Sólo 100 tickets a la venta, de modo que si te interesa ¡corre y reserva tu ticket! Te estamos esperando</p>
      </div>
    </div>

    <span class="map-marker">Laboral Ciudad de la Cultura, Calle Luis Moya Blanco, 261, 33203 Gijón, Asturias</span>
  </div>
</section>

<section class="speakers parallax" id="ponentes">
  <h3>Nuestros Ponentes</h3>
  <div class="container">
    <div class="swiper-container row" id="ponentes-slider">
      <div class="swiper-wrapper">
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/diana.jpeg" class="full-width" alt="Diana Aceves">
          <div class="name">Diana Aceves</div>
          <div class="descr">FrontEnd Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/diana_aceves_" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/oscar.jpg" class="full-width" alt="Óscar de Arriba">
          <div class="name">Óscar de Arriba</div>
          <div class="descr">DevOps & Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/odarriba" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/belen.png" class="full-width" alt="Belén Albeza">
          <div class="name">Belén Albeza</div>
          <div class="descr">Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/ladybenko" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/rodrigo.jpg" class="full-width" alt="Rodrigo Álvarez">
          <div class="name">Rodrigo Álvarez</div>
          <div class="descr">Software Developer</div>
          <ul class="social">
            <li><a href="https://twitter.com/Papipo" class="fa fa-twitter"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-ms-6 swiper-slide">
          <img src="images/ponentes/patricia.jpg" class="full-width" alt="Patricia Gao">
          <div class="name">Patricia Gao</div>
          <div class="descr">Technical Product Manager</div>
          <ul class="social">
            <li><a href="https://twitter.com/patriciagao" class="fa fa-twitter"></a></li>
          </ul>
        </div>
      </div>
      <div class="arrows">
        <a href="#" class="arrow-left fa fa-chevron-left"></a>
        <a href="#" class="arrow-right fa fa-chevron-right"></a>
      </div>
    </div>
  </div>
</section>

<section class="join" id="tickets">
  <div class="container">
    <h3 class="black">Tickets</h3>
    <div class="row price">
      <p>
      Proximamente más información. ¡Apúntate a nuestra newsletter para no perderte las novedades!
      </p>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="container">
    <h3>Nuestros Sponsors</h3>
    <div class="swiper-container items row" id="sponsors-slider">
      <div class="swiper-wrapper">
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/amr.jpg" alt="AMR">
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/cabify.jpg" alt="Cabify">
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/bizneo.jpg" alt="Bizneo">
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/nextail.jpg" alt="Nextail">
        </div>
        <div class="col-md-2 col-sm-3 col-ms-6 col-xs-12 swiper-slide">
          <img src="images/sponsors/empachate.jpg" alt="Empáchate.com">
        </div>
      </div>
      <a href="#" class="arrow-left fa fa-chevron-left"></a>
      <a href="#" class="arrow-right fa fa-chevron-right"></a>
    </div>
  </div>
</section>

<section id="suscribete">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>¿Quieres enterarte de todo?</h4>
        ¡Suscríbete a nuestra newsletter para no perderte las novedades!
      </div>
      <div class="col-md-6 col-sm-12">
        <form action="https://fabadaconf.us19.list-manage.com/subscribe/post?u=b200b60a95f92088e1eca28c4&amp;id=6fdd83df30" method="post">
          <div class="input-group">
            <input type="email" name="EMAIL" class="form-control" placeholder="Introduce tu dirección de correo..." required="true">
            <span class="input-group-btn">
            <input type="submit" class="btn btn-dark" value="Suscríbete">
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
